{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="site-section">
  <div class="container">
    <div class="row justify-content center">
      <div class="col-md-7">
        <h2 class="h3 mb-3 text-black">Sign in</h2>
      </div>
      <div class="col-md-6" data-aos='fade-up'>
        <form class="login ui form" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}"
                    value="{{ redirect_field_value }}" />
          {% endif %}
          {{ form|crispy }}
          <button class="primaryAction btn btn-primary btn-lg py-3 btn-block" type="submit">
            {% trans "Sign In" %}
          </button>
        </form>
        <div class="row mt-3">
          <div class="col-6">
            <a href="{% url 'account_reset_password' %}"><small>Forgot password?</small></a>
          </div>
          <div class="col-6 text-right">
            <a href="{{ signup_url }}"> <small>Create new account</small></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


<!-- If you decide to use socials, this code will be needed.

  <h1>{% trans "Sign In" %}</h1>

  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
  <p>{% blocktrans with site.name as site_name %}Please sign in with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
  {% endif %}

-->
